<form name="survey-form" action="/" method="POST">
    ${classInfoData.map(topic => {
        return `<p>
                    I am
                    <label>
                        <select name="${topic.topic_name}">
                            ${statusData.map(status => `<option value="${status.id}" ${topic.status_id === status.id ? 'selected' : ''}>${status.status_title}</option>`).join('')}
                        </select>
                        <span>at</span>
                        ${topic.topic_name}
                    </label>
                </p>`
    }).join('')}
    <button type="submit">Update Rankings</button>
</form>
